<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active"><a href="/admin/"><i class="fa fa-home"></i> <span>主页</span></a></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-group"></i> <span>用户管理</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/admin/article/?s=admin"><i class="fa fa-circle-o"></i> 管理员账户管理</a></li>
          <li><a href="/admin/user/"><i class="fa fa-circle-o"></i> 前台用户管理</a></li>
          <li><a href="/admin/article/?s=disable"><i class="fa fa-circle-o text-red"></i> 无效用户</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-file-text-o"></i> <span>帖子管理</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/article/"><i class="fa fa-circle-o"></i> 帖子列表</a></li>
          <li>
            <a href="/admin/article/?s=disable"><i class="fa fa-circle-o text-yellow"></i> 违规列表</a>
          </li>
          <li><a href="/admin/article/?s=delete"><i class="fa fa-circle-o text-red"></i> 垃圾箱</a></li>
        </ul>
      </li>
      <li><a href="/admin/help/"><i class="fa fa-book"></i> <span>使用说明</span></a></li>
      <li class="header">LABELS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
    </ul>
    <script>
      $(function(){
        var href = document.location.href,
            host = 'http://'+document.location.host;
        var url = href.replace(host,'');
        console.log(url)
        $('a[href=\''+url+'\']').parent().addClass('active');
      });
    </script>
  </section>
  <!-- /.sidebar -->
</aside>
