<div class="row" ng-controller="mainPanel">
    <% include public/modal %>
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h5 class="box-title">概况</h5>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3 ng-bind="mainData.adminUserCount"></h3>
                </div>
                <div class="icon">
                  <i class="fa fa-fw fa-user"></i>
                </div>
                <a href="javascrit:;" class="small-box-footer">管理员</a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3 ng-bind="mainData.contentsCount"></h3>
                </div>
                <div class="icon">
                  <i class="fa fa-fw fa-file-text-o"></i>
                </div>
                <a href="javascrit:;" class="small-box-footer">文档</a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3 ng-bind="mainData.regUsersCount"></h3>
                </div>
                <div class="icon">
                  <i class="fa fa-fw fa-users"></i>
                </div>
                <a href="javascrit:;" class="small-box-footer">用户</a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3 ng-bind="mainData.msgCount"></h3>
                </div>
                <div class="icon">
                  <i class="fa fa-fw fa-comments-o"></i>
                </div>
                <a href="javascrit:;" class="small-box-footer">留言</a>
              </div>
            </div><!-- ./col -->
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
              <div class="box box-solid">
                  <div class="box-header with-border">
                      <!--<i class="fa fa-location-arrow"></i>-->
                      <h5 class="box-title">快捷操作</h5>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                      <a class="btn btn-app" href="/admin/manage/adminUsersList">
                          <i class="fa fa-user"></i> 添加管理员
                      </a>
                      <a class="btn btn-app" href="/admin/manage/content/add/content">
                          <i class="fa fa-file-text-o"></i> 创建新文档
                      </a>
                      <!-- <a class="btn btn-app" href="/admin/manage/content/add/plug">
                          <i class="fa fa-github"></i> 添加Jquery插件
                      </a> -->
                      <a class="btn btn-app" href="/admin/manage/dataManage/m/backUpData">
                          <i class="fa fa-cloud"></i> 数据备份
                      </a>
                  </div><!-- /.box-body -->
              </div><!-- /.box -->
          </div><!-- ./col -->
          <div class="col-md-4">
              <div class="box box-solid">
                  <div class="box-header with-border">
                      <h5 class="box-title">近期评论</h5>
                  </div><!-- /.box-header -->
                  <div class="box-body chat" id="chat-box">
                      <div class="direct-chat-messages" style="height: auto;max-height: 500px;">
                          <div class="direct-chat-msg" ng-repeat="msg in mainData.msgList">
                              <div ng-switch on="msg.utype">
                                  <span ng-switch-when="0">
                                      <div class="direct-chat-info clearfix" >
                                          <span class="direct-chat-name pull-left">
                                               <a href="#" ng-bind="msg.author.userName"></a>
                                              在 《<a href="/details/{{msg.contentId}}.html" target="_blank" ng-bind="msg.contentTitle"></a>》 中说
                                          </span>
                                          <span class="direct-chat-timestamp pull-right"><i class="fa fa-clock-o"></i> {{msg.date | date : "yyyy-MM-dd HH:mm:ss"}}</span>
                                      </div><!-- /.direct-chat-info -->
                                      <img alt="message user image" ng-src="{{msg.author.logo}}" class="direct-chat-img"><!-- /.direct-chat-img -->
                                      <div class="direct-chat-text" ng-bind="msg.content">
                                      </div><!-- /.direct-chat-text -->
                                  </span>
                                  <span ng-switch-when="1">
                                      <div class="direct-chat-info clearfix" >
                                          <span class="direct-chat-name pull-left">
                                               <a href="#" ng-bind="msg.adminAuthor.userName"></a>
                                              在 《<a href="/details/{{msg.contentId}}.html" target="_blank" ng-bind="msg.contentTitle"></a>》 中回复 <a href="#" ng-bind="msg.replyAuthor.userName"></a>
                                          </span>
                                          <span class="direct-chat-timestamp pull-right"><i class="fa fa-clock-o"></i> {{msg.date | date : "yyyy-MM-dd HH:mm:ss"}}</span>
                                      </div><!-- /.direct-chat-info -->
                                      <img alt="message user image" ng-src="{{msg.adminAuthor.logo}}" class="direct-chat-img"><!-- /.direct-chat-img -->
                                      <div class="direct-chat-text" ng-bind="msg.content">
                                      </div><!-- /.direct-chat-text -->
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div><!-- /.chat -->

              </div><!-- /.box -->
          </div><!-- ./col -->
          <div class='col-md-4'>
                <!-- USERS LIST -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h5 class="box-title">新注册用户</h5>
                        <div class="box-tools pull-right">
                            <span class="label label-danger">注册用户 {{mainData.regUsersCount}}</span>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            <li ng-repeat="user in mainData.regUsers">
                                <img ng-src="{{user.logo}}" alt="User Image"/>
                                <a class="users-list-name" href="#" title="{{user.userName}}" ng-bind="user.userName"></a>
                            </li>
                        </ul><!-- /.users-list -->
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="/admin/manage/regUsersList" class="uppercase">View All Users</a>
                    </div><!-- /.box-footer -->
                </div><!--/.box -->
            </div><!-- /.col -->
        </div>
    </div>
</div>
