<div class="wrapper footer">
    <div class="container clearfix">
        <img src="#" alt="logo" class="foot-logo" />
        <div class="foot-nav">
            <a href="">反馈建议</a> | <a href="">联系我们</a> | <a href="">使用条款</a> | <a href="">隐私和 Cookie</a> | <a href="/sitemap.html" target="_blank">站点地图</a><br />
            <p>CopyRight © 2016 KU二手街 Rights Resverved.</p>
        </div>
    </div>
</div>
<script id="waterfall-tpl" type="text/x-handlebars-template">
  {{#result}}
    <li class="waterfall-item">
      <div class="pubu-img-box">
        <a href="/details/{{_id}}.html" class="pubu-img">
          <img src="{{sImg}}"/>
        </a>
        <p class="pubu-num">
          <span><i class="ar ar-tag"></i> {{category.name}}</span>
          <a href="javascript:;" class="watch-num"><i class="ar ar-preview"></i> {{clickNum}}</a>
          <a href="javascript:;" class="like-num"><i class="ar ar-heart"></i> {{likeNum}}</a>
        </p>
        {{#if sellState}}
            <div class="sellout"></div>
        {{/if}}
      </div>
      <div>
        <a href="/details/{{_id}}.html" class="pubu-img-name" title="{{title}}">{{title}}</a>
        <p class="pubu-sort" title="{{location}}"><i class="ar ar-location"></i>{{location}}</p>
        <a href="#" class="pubu-method clearfix">
          <span style="background-image:url({{authorLogo}});"></span>
          <b>{{author}}</b>
          <b class="price">$ {{price}}</b>
        </a>
      </div>
    </li>
  {{/result}}
</script>
