<div class="wrapper footer">
    <div class="container clearfix">
        <img src="#" alt="logo" class="foot-logo" />
        <div class="foot-nav">
            <a href="">反馈建议</a> | <a href="">联系我们</a> | <a href="">使用条款</a> | <a href="">隐私和 Cookie</a> | <a href="/sitemap.html" target="_blank">站点地图</a><br />
            <p>CopyRight © 2016 KU二手街 Rights Resverved.</p>
        </div>
    </div>
</div>
