<ul class="fix-box">
  <!-- <li class="js-qrcode"><i class="ar ar-qr-code"></i><p>联系我们</p><img src="/themes/<%=staticforder%>/images/logo/qrcode2.jpg" alt=""></li> -->
  <li class="js-qrcode"><i class="ar ar-qr-code"></i><p>联系我们</p><img src="/themes/<%=staticforder%>/images/logo/qrcode.jpg" alt=""></li>
  <li class="js-gotop" style="display:none"><i class="ar ar-black-up"></i><p>返回顶部</p></li>
</ul>

<div class="wrapper footer">
    <div class="container clearfix">
        <img src="#" alt="logo" class="foot-logo" />
	<style>
	 .foot-nav img{
		display:inline;
	}
	</style>
        <div class="foot-nav">
            <!-- <a href="">反馈建议</a> | <a href="">联系我们</a> | <a href="">使用条款</a> | <a href="">隐私和 Cookie</a> | <a href="/sitemap.html" target="_blank">站点地图</a><br /> -->
            <p>CopyRight © 2016 KU二手街 Rights Resverved.</p>
	<p style='display:none'><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67827907-2', 'auto');
  ga('send', 'pageview');

</script></p>
        </div>
    </div>
</div>
<script id="waterfall-tpl" type="text/x-handlebars-template">
  {{#result}}
    <li class="waterfall-item">
      <div class="pubu-img-box">
        <a href="/details/{{_id}}.html" class="pubu-img">
          <img src="{{sImg}}"/>
        </a>
        <p class="pubu-num">
          <span><i class="ar ar-tag"></i> {{category.name}}</span>
          <a href="javascript:;" class="watch-num"><i class="ar ar-preview"></i> {{clickNum}}</a>
          <a href="javascript:;" class="like-num"><i class="ar ar-heart"></i> {{likeNum}}</a>
        </p>
        {{#if sellState}}
            <div class="sellout"></div>
        {{/if}}
      </div>
      <div>
        <a href="/details/{{_id}}.html" class="pubu-img-name" title="{{title}}">{{title}}</a>
        <p class="pubu-sort" title="{{location}}"><i class="ar ar-location"></i>{{location}}</p>
        <a href="javascript:;" class="pubu-method clearfix">
          <span style="background-image:url({{authorLogo}});"></span>
          <b>{{author}}</b>
          <b class="price">$ {{price}}</b>
        </a>
      </div>
    </li>
  {{/result}}
</script>
