<div class="wrapper top-box <%= pageType == 'index'  ? 'blur' : '' %>">
  <div class="container">
    <div class="top-logo">
      <a href="/" title="logo">
        <span class="logo"></span>
        <span class="sublogo"></span>
      </a>
    </div>
   <!-- <ul class="top-menu">
      <li title="分类"><i class="ar ar-list-recorder"></i></li>
    </ul>-->
    <!-- <ul class="top-user">
      <% if(!logined){ %>
        <li><a href="/users/login">登陆</a></li>
        <li><a href="/users/reg">注册</a></li>
      <% }else{ %>
        <li><a href="/users/userCenter"><%=userInfo.userName%></a></li>
      <% } %>
    </ul> -->
    <div class="top-search">
      <input type="text" placeholder="搜索..." class="js-search">
      <button type="button" class="btn btn-xs">
        <span class="ar ar-seach"></span>
      </button>
    </div>
  </div>
</div>
